* {
    font-family: Arial, Helvetica, sans-serif;
}

.garagetitle {
    font-size: 3.5em;
    width: 100vw;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    background-color: #f50;
    text-shadow: 1.5px 0 0 #00000090;
}

#garage .container {
    margin-block: 50px;
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#garage .container div.car {
    width: 200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    background-color: #eee;
    padding-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px #00000090;
}

#garage {
    background-image: url('../assets/main/backgroundstore.png');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    overflow-y: auto !important;
    overflow-x: hidden;
}

.garagetitle button img {
    width: 35px;
    aspect-ratio: 1;
    filter: invert(.90);
}

.garagetitle button {
    background-color: transparent;
    border: 0;
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
}

.garagetitle button:hover {
    cursor: pointer;
}

.garagetitle button img:hover {
    filter: invert(1);
}

#garage .car .select {
    height: 50px;
    width: calc(100%);
    position: absolute;
    bottom: 0;
    border: 0;
    background-color: #f50;
    font-size: 1.7em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

#garage .car .select:hover {
    filter: brightness(.8);
    cursor: pointer;
}